{% extends "layout.html" %}

{% block css %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
<!-- Google Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<link rel="stylesheet" href="{{ url_for('static', filename= 'css/createpost.css') }}">

{% endblock css %}

{% block navigation %}
<div id="nav">
    <nav>
        <div class="logo">
            <h3 class="logoName">Devnode</h3>
        </div>
        <i class="fa fa-bars" id="open"></i>
        <div class="menu" id="menuList">
            <i class="fa fa-times" id="close"></i>
            <ul>
                <li><a href="#">Feed</a></li>
                <li><a href="{{ url_for('profiles') }}">Profiles</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><a href="{{url_for('user_profile')}}"><i class="fas fa-user" id="user"></i></a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <a href="{{ url_for('signup') }}" class="btn btn-outline-light signupTop">Signup</a>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
{% endblock navigation %}

{% block content %}
<body>
<div>
    <h2 class="page-title"> Create post</h2>
    <div class="w-75 p-3 mx-auto">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <form action="" method="post" class="row g-3">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    <label>Title</label>
                    {{ form.title(class="form-control", autocomplete="off") }}
                </div>
                <div class="mb-3">
                    <label>Body</label>
                    {{ form.content(class="form-control" , autocomplete="off", id="body") }}
                </div>
                <div class="row g-3">
                    <div class="col-sm">
                        <label>Category</label>
                        {{ form.category() }}

                    </div>
                    <div class="col-sm">
                        <label>Number of Persons Required</label>
                        {{ form.persons_required(id="body") }}
                    </div>
                    <div class="col-sm">
                        <label for="datemin">Enter Date of contest</label>
                        {{ form.last_date(type="date" , id="datemin") }}
                        <br><br>
                    </div>
                </div>

                <div>
                    {{ form.submit(class="btn btn-primary", value="Publish Post") }}
                </div>
            </form>
        </div>
    </div>
</div>



<script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js">

    </script>
    <script>


        ClassicEditor
            .create(document.querySelector('#body'), {
                toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
                heading: {
                    options: [
                        { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                        { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                        { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' }
                    ]
                }
            })
            .catch(error => {
                console.log(error);
            });
    </script>
    {% endblock content %}








