{% extends "layout.html" %}

{% block css %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/userProfile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/nav.css') }}">
{% endblock css %}

{% block navigation %}
<div id="nav">
    <nav>
        <div class="logo">
            <h3 class="logoName">Devnode</h3>
        </div>
        <i class="fa fa-bars" id="open"></i>
        <div class="menu" id="menuList">
            <i class="fa fa-times" id="close"></i>
            <ul>
                <li><a href="#">Feed</a></li>
                <li><a href="{{ url_for('profiles') }}">Profiles</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><a href="{{url_for('user_profile')}}"><i class="fas fa-user" id="user"></i></a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <a href="{{ url_for('signup') }}" class="btn btn-outline-light signupTop">Signup</a>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
{% endblock navigation %}
{% block content %}
<div class="wrapper">
    <div class="left">
        <div class="coverPic">
            <i class="fas fa-camera" data-bs-toggle="modal" data-bs-target="#coverPic"></i>
            <img src="{{ cover_image_file }}"
                alt="" srcset="">
        </div>
        <div class="profilePicWrapper">
            <div class="profilePic" data-bs-toggle="modal" data-bs-target="#profilePic">
                <img src="{{ profile_image_file }}"
                    alt="" srcset="">
            </div>
            <div class="nameBox">
                <h3>{{ current_user.username }}</h3>
                <p>{{ current_user.designation }}</p>
            </div>
        </div>
        <div class="mainBox">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link " href="#details" id="detailsLink">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#activity" id="activityLink">Activity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#settngs" id="settingsLink">Settings</a>
                </li>
            </ul>
            <div class="mainBoxTabs">
                <div class="details">
                    <div class="about my-3">
                        <h4 class="m-2">About</h4>
                        <p class="m-2">{{ current_user.about }}</p>
                    </div>
                    <div class="skills">
                        <div class="skillsHeader">
                            <h4 class="m-2">Skills</h4>
                            <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                class="btn btn-light">Add/Remove Skills</button>
                        </div>
                        <div class="skillsBox my-3">
                            {% for skill in user_skills %}
                                <span class="badge bg-dark px-3 py-2 m-2">{{skill.name}}</span>
                            {% endfor %}
                        </div>

                    </div>
                </div>
                <div class="activity">
                </div>

                <!-- Settings -->
                <div class="settings">
                    <form action="" method="post" class="m-3 w-75" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}

                        <div class="form-group my-3">
                            {{ form.username.label(class="form-control-label") }}
                            {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.username(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group my-3">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group my-3">
                            {{ form.about.label(class="form-control-label") }}
                            {% if form.about.errors %}
                            {{ form.about(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.about.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.about(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group my-3">
                            {{ form.designation.label(class="form-control-label") }}
                            {% if form.designation.errors %}
                            {{ form.designation(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.designation.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.designation(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group my-3">
                            {{ form.branch.label(class="my-1 mr-2 form-control-label") }}
                            {% if form.branch.errors %}
                            {{ form.branch(class="custom-select my-1 mr-sm-2 form-control form-control-lg is-invalid")
                            }}
                            <div class="invalid-feedback">
                                {% for error in form.branch.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.branch(class="custom-select my-1 mr-sm-2 form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group my-3">
                            {{ form.year.label(class="my-1 mr-2 form-control-label") }}
                            {% if form.year.errors %}
                            {{ form.year(class="custom-select my-1 mr-sm-2 form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.year.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.year(class="custom-select my-1 mr-sm-2 form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group my-3">
                            {{ form.twitter_id.label(class="form-control-label") }}
                            {% if form.twitter_id.errors %}
                            {{ form.twitter_id(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.twitter_id.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.twitter_id(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group my-3">
                            {{ form.github_id.label(class="form-control-label") }}
                            {% if form.github_id.errors %}
                            {{ form.github_id(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.github_id.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.github_id(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group my-3">
                            {{ form.linkedin_id.label(class="form-control-label") }}
                            {% if form.linkedin_id.errors %}
                            {{ form.linkedin_id(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.linkedin_id.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.linkedin_id(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                        <div class="form-group my-3">
                            {{ form.discord_id.label(class="form-control-label") }}
                            {% if form.discord_id.errors %}
                            {{ form.discord_id(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.discord_id.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.discord_id(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        {{ form.submit(class="btn btn-primary saveBtn", value="Save") }}
                    </form>
                </div>
            </div>
        </div>
    </div>




    <div class="right">
        <div class="info p-3">
            <h4>Info</h4>
            <hr>
            <strong>Username : </strong><span>{{ current_user.username }}</span>
            <hr>
            <strong>Branch : </strong><span>{{ current_user.branch }}</span>
            <hr>
            <strong>Batch : </strong><span>{{ current_user.year }}</span>
        </div>
        <div class="contacts p-3">
            <h4>Contacts</h4>
            <hr>
            <div class="contactlinks">
                <a href="mailto:{{current_user.email}}" target="blank"><button class="btn btn-dark my-2 mail"><i
                            class="far fa-envelope"></i>Gmail</button></a>
                <a href="https://discord.com/{{current_user.discord_id}}" target="blank"><button
                        class="btn btn-dark  my-2 discord"><i class="fab fa-discord"></i>Discord</button></a>
                <a href="https://linkedin.com/in/{{current_user.linkedin_id}}" target="blank"><button
                        class="btn btn-dark  my-2 linkedin"><i class="fab fa-linkedin"></i>Linkedin</button></a>
                <a href="https://twitter.com/{{current_user.twitter_id}}" target="blank"><button
                        class="btn btn-dark  my-2 twitter"><i class="fab fa-twitter"></i>Twitter</button></a>
                <a href="https://github.com/{{current_user.github_id}}" target="blank"><button
                        class="btn btn-dark  my-2 github"><i class="fab fa-github"></i>Github</button></a>
            </div>
        </div>
    </div>




    <!-- modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Enter Your Skills</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        {{add_skill_form.hidden_tag()}}
                        <div class="form-group">
                            {{add_skill_form.skill_name.label(class="form-label")}}
                            {{add_skill_form.skill_name(class="form-control")}}
                            {{add_skill_form.submit(class="btn btn-success mt-2 form-control")}}
                        </div>
                    </form>
                    <div class="skillsBox my-3">
                        <span>Click on a skill to remove it</span>
                        <br>
                        {% for skill in user_skills %}
                            <!-- <a href="/removeSkill?skill_name={{skill.name}}" class="btn btn-danger">{{skill.name}}</a> -->
                            <a href="{{url_for('remove_skill', skill_name=skill.name)}}" class="btn btn-secondary">{{skill.name}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- modal for profilepic  -->
    <div class="modal fade" id="profilePic" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="profilePicLabel">{{ profile_form.profile_picture.label() }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" , enctype="multipart/form-data">
                        {{ profile_form.hidden_tag() }}
                    <p class="body-desc">
                        It will be easier for your friends to recognize you if you upload your real photo. You can
                        upload the image in JPG or PNG format. </p>

                    <div class="photo-input">
                        {{ profile_form.profile_picture(class="form-control-file", onchange="console.log(this.files[0].name);") }}
                        {% if profile_form.profile_picture.errors %}
                        {% for error in profile_form.profile_picture.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        {{ profile_form.submit(class="btn btn-primary", value="Save") }}
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>



        <!-- modal for coverPic -->
        <div class="modal fade" id="coverPic" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="coverPicLabel">Update Cover Picture</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" id="idform" enctype="multipart/form-data" >
                            {{ cover_form.hidden_tag() }}
                        <p class="body-desc">
                            You can upload the image in JPG or PNG format. </p>
                        <div class="photo-input">
                            {{ cover_form.cover_picture(class="form-control-file", onchange="console.log(this.files[0].name);") }}
                            {% if cover_form.cover_picture.errors %}
                            {% for error in cover_form.cover_picture.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="modal-footer">
                            {{ cover_form.submit(class="btn btn-primary", value="Save", form="idform", type="submit") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

</div>




</body>
<script>
    const detailsLink = document.getElementById("detailsLink");
    const activityLink = document.getElementById("activityLink");
    const settingsLink = document.getElementById("settingsLink");
    const details = document.querySelector(".details");
    const activity = document.querySelector(".activity");
    const settings = document.querySelector(".settings");
    detailsLink.addEventListener("click", () => {
        details.style.display = "flex";
        activity.style.display = "none";
        settings.style.display = "none";
    })
    activityLink.addEventListener("click", () => {
        details.style.display = "none";
        activity.style.display = "flex";
        settings.style.display = "none";
    });
    settingsLink.addEventListener("click", () => {
        details.style.display = "none";
        activity.style.display = "none";
        settings.style.display = "flex";
    })
</script>
{% endblock content %}